
<form novalidate [formGroup]="myForm" (submit)="send(  )"
      (reset)="reset( $event )">

  <input type="text"
         autocomplete="name"
         placeholder="name"
         [formControl]="nameCtrl"
  >
  <span [formGroup]="credentialsGroup">
        <input type="email" autocomplete="email"
               placeholder="email" [formControl]="emailCtrl" >
        <ng-template [ngIf]="emailCtrl.errors">
          <div *ngIf="emailCtrl.hasError( 'required') ">Dieser Wert ist erforderlich</div>
          <div *ngIf="emailCtrl.hasError( 'email' )">Tragen Sie eine gültige Mail Adresse ein</div>
        </ng-template>
        <input type="password" autocomplete="password"
               placeholder="password" [formControl]="passwordCtrl">
        </span>

  <button type="submit" [disabled]="myForm.invalid || !myForm.dirty">senden</button>
  <button type="reset" [disabled]="!myForm.dirty">reset</button>

</form>

<p>{{myForm.value | json}}</p>
<p>{{emailCtrl.errors | json}}</p>
