<p>
  conten-child works!
</p>

<msg-user-list>

  <msg-user-header>msg</msg-user-header>

  <msg-user-item
    *ngFor="let item of items">
    item {{item}}
  </msg-user-item>

</msg-user-list>
<!--

<div *ngIf="items">items exits</div>

<ng-template [ngIf]="items">
  <h1>hallo</h1>
</ng-template>

<ng-template [ngIf]="items">
  <h1>benutzer</h1>
  <h1>name</h1>
  <h1>adress</h1>
</ng-template>
-->


<button (click)="removeLast()">remove last item</button>

<router-outlet></router-outlet>

<hr>
